/* line 1, ../src/sass/_setup.scss */
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12, ../src/sass/_setup.scss */
.main_nav {
  font-family: 'PT Sans Narrow', sans-serif;
}

/* line 16, ../src/sass/_setup.scss */
.text_block {
  font-family: 'Libre Franklin', sans-serif;
}

/* line 1, ../src/sass/_structure.scss */
.row {
  max-width: 1200px;
  margin: auto;
}

/* line 6, ../src/sass/_structure.scss */
.text_block {
  max-width: 521px;
  margin: auto;
}

/* line 1, ../src/sass/_header.scss */
.header_logo {
  max-width: 735px;
  margin: auto;
  overflow: hidden;
}
/* line 6, ../src/sass/_header.scss */
.header_logo span {
  position: absolute;
  left: -999999px;
}
/* line 10, ../src/sass/_header.scss */
.header_logo img {
  display: block;
  width: 100%;
  height: auto;
}

/* line 1, ../src/sass/_navigation.scss */
.main_nav {
  max-width: 735px;
  margin: auto;
  font-weight: bold;
  font-size: 16px;
  color: #000000 !important;
  letter-spacing: 2px;
  line-height: 1.4em;
  text-align: center;
}

/* line 13, ../src/sass/_navigation.scss */
.menu-item {
  display: inline-block;
}
/* line 15, ../src/sass/_navigation.scss */
.menu-item a {
  padding: 24px 11px;
  text-decoration: none;
  color: black;
}

/* line 1, ../src/sass/_quote.scss */
.str_quote {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  font-style: italic;
}
/* line 7, ../src/sass/_quote.scss */
.str_quote span {
  display: block;
  margin-bottom: 1em;
}
/* line 12, ../src/sass/_quote.scss */
.str_quote:after {
  content: "\2014 " attr(cite);
  display: block;
  font-style: normal;
}

/* line 1, ../src/sass/_projects.scss */
.str_project {
  max-width: 1200px;
  margin: auto;
  position: relative;
}

/* line 7, ../src/sass/_projects.scss */
.str_project_slider_container {
  position: relative;
  width: 100%;
  padding-bottom: 54%;
  overflow: hidden;
}

/* line 14, ../src/sass/_projects.scss */
.str_project_slider {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 22, ../src/sass/_projects.scss */
.str_slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
/* line 31, ../src/sass/_projects.scss */
.str_slide.active {
  opacity: 1;
}

/* line 36, ../src/sass/_projects.scss */
.str_slide_image {
  position: relative;
  width: 100%;
  height: 100%;
}
/* line 41, ../src/sass/_projects.scss */
.str_slide_image img {
  height: 100%;
  width: auto;
  display: block;
  margin: auto;
}

/* line 49, ../src/sass/_projects.scss */
.str_next,
.str_previous {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -webkit-calc(50% - 25px);
  top: calc(50% - 25px);
  cursor: pointer;
}

/* line 57, ../src/sass/_projects.scss */
.str_next {
  right: -50px;
}

/* line 60, ../src/sass/_projects.scss */
.str_previous {
  left: -50px;
}

/* line 64, ../src/sass/_projects.scss */
.str_project_indicators {
  text-align: center;
}

/* line 68, ../src/sass/_projects.scss */
.str_indicator {
  width: 12px;
  height: 12px;
  display: inline-block;
  text-indent: -200%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
/* line 77, ../src/sass/_projects.scss */
.str_indicator:after {
  content: "";
  display: table;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #707070;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}
/* line 90, ../src/sass/_projects.scss */
.str_indicator:hover:after {
  background: #3c0606;
}
/* line 94, ../src/sass/_projects.scss */
.str_indicator.active:after {
  background: #c61515;
}
