$speed: 2s;

.body_frontpage {
  background: $black;
  color: $white;

  .header_logo {
    transition: width $speed;
    svg {
      fill: $white;
      //transition: width $speed;
    }
  }

  @media screen and (min-width: 760px) {
    .logo_wrapper {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;

      transform: translateY(0);
      transition: transform $speed;
    }

    .navigation_row {
      margin-top: 125px;
      transition: opacity $speed;
    }

    .main {
      transition: opacity $speed;
    }

    &.body_frontpage_load {
      .navigation_row,
      .main {
        opacity: 0;
      }

      .header_logo {
        max-width: 1200px;
        width: 100%;
        svg {
          width: 100%;
        }
      }

    }
  }

  footer {
    height: auto;
  }
}

.frontpage_mobile_sketch {
  height: calc(100vh - 196px);

  overflow: hidden;
  position: relative;

  img {
    @include imgblock;
  }

  @media screen and (min-width: 650px) {
    display: none;
  }
}

// HOMEPAGE SKETCH
////////////////////////////////////////////////////////////////////////////////

.homepage_sketch {
  width: 100%;
  position: relative;
  padding-bottom: 45.277778%;
}

.homepage_sketch_tile {
  position: absolute;
  overflow: hidden;

  &:hover {
    .homepage_sketch_photo {
      opacity: 1;
    }
  }
}

.homepage_sketch_image {
  height: auto;
  width: 100%;
  position: relative;
  z-index: 0;
  display: block;
}

.homepage_sketch_photo {
  height: auto;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;

  display: block;
  opacity: 0;
  transition: opacity 0.5s;
  z-index: 1;
}
