.main_nav {
  @extend %pt_sans;
  max-width: 735px;
  margin: auto;
  font-weight: bold;
  font-size: 16px;
  color: #000000 !important;
  letter-spacing: 2px;
  line-height: 1.4em;
  text-align: center;

  ul {
    list-style: none;
  }
}

.menu-item {
  display: inline-block;
  a {
    padding: 24px 11px;
    text-decoration: none;
    color: $black;
    display: block;
  }
}
