.str_project {
  max-width: 1200px;
  margin: auto;
  position: relative;
}

.str_project_slider_container {
  position: relative;
  width: 100%;
  padding-bottom: 54%;
  overflow: hidden;
}

.str_project_slider {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.str_slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s;

  &.active {
    opacity: 1;
  }
}

.str_slide_image {
  position: relative;
  width: 100%;
  height: 100%;

  img {
    height: 100%;
    width: auto;
    display: block;
    margin: auto;
  }
}

.str_next,
.str_previous {
  width: 50px;
  height: 100%;
  position: absolute;
  top: 0;
  text-indent: -999999px;
  cursor: pointer;

  svg {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    path {
      stroke: #81898d;
    }
  }
}
.str_next {
  right: -50px;
  svg {
    left: 0;
  }
}
.str_previous {
  left: -50px;
  svg {
    right: 0;
  }
}

.str_project_indicators {
  text-align: center;
}

.str_indicator {
  width: 8px;
  height: 8px;
  display: inline-block;
  text-indent: -200%;
  overflow: hidden;
  position: relative;
  cursor: pointer;

  &:after {
    content: "";
    display: table;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #707070;
    position: absolute;
    left: 0;
    top: 0;
    transition: background 0.5s;
  }

  &:hover:after {
      background: darken(#c61515,30);
  }

  &.active:after {
      background: #c61515;
  }
}

.str_project_description {
  @extend %libre;
  font-size: 14px;
  text-align: center;
}
