@import '//fonts.googleapis.com/css?family=Libre+Franklin:300,300i,600,600i|PT+Sans+Narrow:700';

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: 0;
  box-sizing: border-box;
}

input:focus {
  outline:none;
  box-shadow: none;
}

$speed: 2s;

$black: #000000;
$white: #FFFFFF;

%pt_sans {
  font-family: 'PT Sans Narrow', sans-serif;
}

@mixin sans {
  font-family: 'Libre Franklin', sans-serif;
}

$regular: 300;
$bold: 600;

@mixin position_off {
  position: absolute;
  left: -999999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px 0 0 -1px;
  display: inline-block;
}

@mixin imgblock {
  display: block;
  width: 100%;
  height: auto;
}

@mixin clearfix {
  &:after {
    content: '';
    display: table;
    height: 0px;
    clear: both;
  }
}

.feedback {
  position: fixed;
  bottom: 5px;
  left: 5px;
  background: black;
  color: white;
  font-size: 11px;
  padding: 5px;
  //display: none;
}

.svg_hidden {
  display: none;
}


#feedback {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: black;
  z-index: 9999;
  font-size: 12px;
  color: white;

  display: none;
}
