.typography {
  font-size: 16px;
  line-height: 1.5em;

  h1,h2,h3,h4,h5,h6 {
    font-weight: $bold;
    margin-bottom: 0.5em;
  }

  p {
    font-weight: $regular;
    line-height: 1.625em;
    margin-bottom: 1em;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 21px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 16px;
  }

  h6 {
    font-size: 14px;
    text-transform: uppercase;
  }

  img {
    max-width: 100%;
  }

}
