.main_logo {
  max-width: 735px;
  margin: auto;
}

.main_nav {
  max-width: 735px;
  margin: auto;
  font-family: 'PT Sans Narrow', Helvetica, Arial, Lucida, sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #000000 !important;
  letter-spacing: 2px;
  line-height: 1.4em;
  text-align: center;
}

.menu-item {
  display: inline-block;
  a {
    padding: 24px 11px;
  }
}

.str_project {
  max-width: 1200px;
  margin: auto;
  position: relative;
}

.str_project_slider_container {
  position: relative;
  width: 100%;
  padding-bottom: 54%;
  overflow: hidden;
}

.str_project_slider {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.str_slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s;

  &.active {
    opacity: 1;
  }
}

.str_slide_image {
  position: relative;
  width: 100%;
  height: 100%;

  img {
    height: 100%;
    width: auto;
    display: block;
    margin: auto;
  }
}

.str_next,
.str_previous {
  width: 50px;
  height: 50px;
  position: absolute;
  top: calc(50% - 25px);
  cursor: pointer;
}
.str_next {
  right: -50px;
}
.str_previous {
  left: -50px;
}

.str_project_indicators {
  text-align: center;
}

.str_indicator {
  width: 12px;
  height: 12px;
  display: inline-block;
  text-indent: -200%;
  overflow: hidden;
  position: relative;
  cursor: pointer;

  &:after {
    content: "";
    display: table;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #707070;
    position: absolute;
    left: 0;
    top: 0;
    transition: background 0.5s;
  }

  &:hover:after {
      background: darken(#c61515,30);
  }

  &.active:after {
      background: #c61515;
  }
}
